<div class="tbl-factura">
  <h1>TblFacturas</h1>
  <ul *ngIf="!isLoading">
    <li *ngFor="let factura of datos">
      <div class="card">
        <h2>Factura ID: {{ factura.id }}</h2>
        <p>Fecha de Emisión: {{ factura.fechaEmisionFactura | date: 'medium' }}</p>
        <p>Cliente ID: {{ factura.idCliente }}</p>
        <p>Número de Factura: {{ factura.numeroDeFactura }}</p>
        <p>Número de Productos: {{ factura.numeroDeProductos }}</p>
        <p>Subtotal de la Factura: {{ factura.subTotalFactura | currency: 'USD': 'symbol': '1.2-2' }}</p>
        <p>Total de Impuestos: {{ factura.totalImpuestos | currency: 'USD': 'symbol': '1.2-2' }}</p>
        <p>Total de la Factura: {{ factura.totalFactura | currency: 'USD': 'symbol': '1.2-2' }}</p>
        <p>Fecha de Creación: {{ factura.createdAt | date: 'medium' }}</p>
        <p>Fecha de Actualización: {{ factura.updatedAt | date: 'medium' }}</p>
        <p *ngIf="factura.deletedAt">
          Fecha de Eliminación: {{ factura.deletedAt | date: 'medium' }}
        </p>
      </div>
    </li>
  </ul>
  <div *ngIf="isLoading">
    <p>Cargando datos de TblFacturas...</p>
  </div>
</div>
